.toolbar {
  height: 56px;
  background-color: #DADBCF;
  border-top: 1px solid #C4C3B8;
  display: flex;
  align-items: center;
  padding: 0 16px;
  z-index: 10;
  justify-content: space-between;
}

.toolbar-section-left {
  flex: 1;
  display: flex;
  gap: 8px;
}

.toolbar-section-right {
  display: flex;
  gap: 8px;
}
